PORT=3000

AUTH_SERVICE_URL=http://auth-service:3001
PROPERTY_SERVICE_URL=http://property-service:8000
BOOKING_SERVICE_URL=http://booking-service:3002

JWT_SECRET=jwt_secret

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=60
